/* グローバル設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

}

/* ヘッダー */
header {

}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* ナビゲーションバー */
nav {

}

nav ul {

}

nav ul li {

}

nav ul li a {

}

nav ul li a:hover {

}

/* メインコンテンツ */
main {

}

main .content {

}

/* サイドバーに四角の枠を追加 */
main .sidebar {
    width: 300px;
    background-color: #f8f8f8;
    padding: 20px; /* 内側の余白 */
    border: 2px solid #333; /* 2pxの枠線、色は黒 */
    border-radius: 8px; /* 角を丸める */
}

/* サイドバーのタイトルスタイル */
.sidebar h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* サイドバーの内容 */
.sidebar p {
    font-size: 1.1em;
    line-height: 1.6;
}




.content h2 {

}

.content p {

}

/* フッター */
footer {

}

footer p {

}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main .content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
