/* グローバル設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

}

/* ヘッダー */
header {

}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* ナビゲーションバー */
nav {

}

nav ul {

}

nav ul li {

}

nav ul li a {

}

nav ul li a:hover {

}

/* メインコンテンツ */
main {

}

main .content {

}

main .sidebar {
    width: 150px;
    background-color: #f8f8f8;
    padding: 10px;
}

.content h2 {

}

.content p {

}

/* フッター */
footer {

}

footer p {

}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    main .content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
